root = true

[*.{cpp,h,hpp}]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

[resource.h]
insert_final_newline = true
trim_trailing_whitespace = false