<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>

	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>

	<packageSources>
		<add key="TranslucentTB MyGet" value="https://www.myget.org/F/translucenttb/api/v3/index.json" protocolVersion="3" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>
