<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Trusted.Signing.Client" version="1.0.95" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.7463" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP" version="10.0.26100.7463" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.arm64" version="10.0.26100.7463" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.x64" version="10.0.26100.7463" targetFramework="native" />
</packages>