<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="rescap">
  <Identity Name="TranslucentTB" Publisher="CN=TranslucentTB Open Source Developers" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TranslucentTB</DisplayName>
    <PublisherDisplayName>TranslucentTB Open Source Developers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0" />
    <!-- Import the UWP CRT as a dependency to avoid needing to ship the VCRT Forwarders -->
    <PackageDependency Name="Microsoft.VCLibs.140.00" MinVersion="14.0.29231.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="TranslucentTB" Executable="TranslucentTB.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="TranslucentTB" Description="A lightweight utility that makes the Windows taskbar translucent/transparent" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.jpeg" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="TranslucentTB.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="ttb.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <desktop:Extension Category="windows.startupTask" Executable="TranslucentTB.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="TranslucentTB" Enabled="false" DisplayName="TranslucentTB" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>